/* ---------------------------------------------------------------------------- */
/*                              CORE SITE STYLES                                */
/* ---------------------------------------------------------------------------- */

body {
   padding-top: 50px;
   /*   background: #eee; */
   /*   color: #666666; */
}

.main-content {
   padding: 10px 15px;
   text-align: center;
}

.navbar {
   margin-bottom: 10px;
}

.navbar .navbar-inner {
   -webkit-border-radius: 0px 0px 3px 3px;
   -moz-border-radius: 0px 0px 3px 3px;
   -ms-border-radius: 0px 0px 3px 3px;
   -o-border-radius: 0px 0px 3px 3px;
   border-radius: 0px 0px 3px 3px;
}

#spinner {
   height: 300px;
}

@-webkit-keyframes fadeOut {
   0% {opacity: 0;}
   10% {opacity: 1;}
   90% {opacity: 1;}
   100% {opacity: 0;}
}

@keyframes fadeOut {
   0% {opacity: 0;}
   10% {opacity: 1;}
   90% {opacity: 1;}
   100% {opacity: 0;}
}

.errors{
   position: fixed;
   z-index: 10000;
   padding: 10px;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   pointer-events: none;
}